* {
  margin: 0;
  padding: 0;
}

ul li {
  list-style: none;
}

a {
  text-decoration: none;
}

body {
  background: #F0F0F0;
}

img {
  border: 0;
  vertical-align: bottom;
}

@font-face {
  font-family: 'iconfont';
  src: url("../iconfont.eot");
  src: url("../iconfont.eot?#iefix") format("embedded-opentype"), url("../iconfont.woff") format("woff"), url("../iconfont.ttf") format("truetype"), url("../iconfont.svg#iconfont") format("svg");
}
#bg {
  width: 100%;
  height: 722px;
  background: url(../img/reg.gif) center top no-repeat;
}

#nav {
  width: 1002px;
  height: 722px;
  margin: 0 auto;
  position: relative;
}
#nav h2 {
  padding-top: 13px;
}
#nav h2 img {
  width: 314px;
  height: 34px;
}

#reg-wrap {
  width: 340px;
  height: 506px;
  position: absolute;
  right: 5%;
  top: 100px;
  background: white;
  opacity: 0.6;
}

#reg {
  position: absolute;
  top: 20px;
  left: 30px;
  z-index: 999;
  width: 280px;
  height: 420px;
  font-size: 12px;
}
#reg p {
  color: #333333;
  margin-bottom: 10px;
  -webkit-margin-after: 10px;
}
#reg p a {
  color: #fea417;
  text-decoration: underline;
}
#reg p a:nth-child(2) {
  float: right;
  display: inline;
}

from {
  width: 280px;
  height: 297px;
  position: relative;
}

.reg-1 {
  display: block;
  width: 273px;
  height: 40px;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid #c5c8c6;
  position: relative;
  padding-left: 5px;
}
.reg-1 i {
  display: inline-block;
  margin-top: 8px;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../img/heder.png) no-repeat;
  background-position: -62px 0;
  vertical-align: middle;
}
.reg-1 input {
  border: none;
  float: left;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  width: 88%;
  vertical-align: middle;
  background: none;
  font-size: 15px;
  outline: none;
}

.reg-2 {
  display: block;
  width: 273px;
  height: 40px;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid #c5c8c6;
  position: relative;
  padding-left: 5px;
}
.reg-2 i {
  display: inline-block;
  margin-top: 8px;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../img/heder.png) no-repeat;
  background-position: -60px -44px;
  vertical-align: middle;
}
.reg-2 input {
  border: none;
  float: left;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  width: 88%;
  vertical-align: middle;
  background: none;
  font-size: 15px;
  outline: none;
}

.reg-3 {
  display: block;
  width: 273px;
  height: 40px;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid #c5c8c6;
  position: relative;
  padding-left: 5px;
  line-height: 40px;
}
.reg-3 input {
  width: 52%;
  vertical-align: top;
  border: none;
  float: left;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  background: none;
  font-size: 15px;
  outline: none;
}
.reg-3 a {
  color: #888;
  line-height: 40px;
  margin-right: 5px;
  float: right;
}
.reg-3 a img {
  vertical-align: -10px;
}

#reg-4 {
  margin-bottom: 20px;
  font-size: 14px;
}

#deng {
  display: block;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  background: #d10048;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 20px;
}

#reg-5 {
  width: 100%;
  height: 21px;
  display: block;
  overflow: hidden;
  line-height: 21px;
  margin-bottom: 20px;
}
#reg-5 input {
  vertical-align: -2px;
  margin-right: 10px;
}
#reg-5 a {
  float: right;
  display: inline;
  color: #888;
}

#reg-6 {
  width: 280px;
  height: 40px;
  line-height: 40px;
  margin-top: 40px;
}
#reg-6 dt {
  font-size: 14px;
  margin-right: 10px;
  float: left;
  width: 116px;
  height: 40px;
}
#reg-6 dd {
  float: left;
}
#reg-6 dd a:nth-child(1) {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  overflow: hidden;
  background: url(../img/heder.png) no-repeat;
  background-position: -45px -113px;
}
#reg-6 dd a:nth-child(2) {
  display: inline-block;
  width: 40px;
  height: 40px;
  margin: 0 10px;
  overflow: hidden;
  background: url(../img/heder.png) no-repeat;
  background-position: -52px -170px;
}

.reg-7 {
  display: block;
  width: 273px;
  height: 40px;
  margin-bottom: 30px;
  line-height: 40px;
  border: 1px solid #c5c8c6;
  position: relative;
  padding-left: 5px;
}
.reg-7 i {
  display: inline-block;
  margin-top: 8px;
  float: left;
  width: 22px;
  height: 22px;
  background: url(../img/heder.png) no-repeat;
  background-position: -60px -44px;
  vertical-align: middle;
}
.reg-7 input {
  border: none;
  float: left;
  height: 38px;
  line-height: 38px;
  padding-left: 10px;
  width: 49%;
  vertical-align: middle;
  background: none;
  font-size: 15px;
  outline: none;
}
.reg-7 a {
  display: inline-block;
  padding: 0 10px;
  line-height: 28px;
  border-radius: 20px;
  border: 1px solid #a8abaa;
  color: #5b5b5b;
}

.reg-8 input {
  vertical-align: -2px;
  margin-right: 10px;
  color: #8888A0;
  margin-bottom: 20px;
}
.reg-8 a {
  color: #F75296;
}

#zhu {
  display: block;
  width: 280px;
  height: 30px;
  border-radius: 5px;
  background: #d10048;
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 8px 0;
  margin-bottom: 20px;
}
