* {
    margin: 0;
    padding: 0;
}
ul li {
    list-style: none;
}
a {
    text-decoration: none;
}
body {
    background: #F0F0F0;
}
img{
    border: 0;
    vertical-align: bottom;
}
@font-face {
    font-family: 'iconfont';
    src: url('../font/iconfont.eot');
    src: url('../font/iconfont.eot?#iefix') format('embedded-opentype'), url('../font/iconfont.woff') format('woff'), url('../font/iconfont.ttf') format('truetype'), url('../font/iconfont.svg#iconfont') format('svg');
}
@mixin margin {
    margin: 0 auto;
    width: 982px;
}
#dian{
    width: 231px;
    height: 92px;
    position: fixed;
    top: 140px;
    right: 190px;
    z-index: 99999;
    display: none;
    a{
        width: 100%;
        height: 100%;
    }
}
header {
    height: 70px;
    background: #F0F0F0;
    @include margin;
    h1 {
        width: 330px;
        height: 70px;
        line-height: 50px;
        float: left;
    }
    ul {
        width: 420px;
        height: 24px;
        float: left;
        font-family: iconfont;
        font-size: 12px;
        margin-top: 28px;
        margin-left: 230px;
        li {
            margin-left: 4px;
            float: left;
            line-height: 24px;
            a {
                color: #888888;
                margin: 6px;
                
                &:hover {
                    color: #666666;
                }
            }
            &:first-child {
                width: 40px;
                a {
                    display: block;
                    float: left;
                    margin-top: 2px;
                    width: 20px;
                    height: 20px;
                    background: url("../img/heder.png");
                    background-position: 0 -1px;
                }
            }
            &:nth-child(5) {
                width: 28px;
                a {
                    display: block;
                    float: left;
                    margin-top: 2px;
                    width: 30px;
                    height: 30px;
                    background: url("../img/heder.png");
                    background-position: 0 -48px;
                    
                }
            }
        }
    }
}



nav {
    @include margin;
    height: 400px;
}
.swiper-slide {
    img {
        width: 100%;
        height: 400px;
    }
}
menu {
    @include margin;
    height: 2173px;
    margin-top: 20px;
    margin-bottom: 60px;
}
.menu-big{
    float: left;
    img{
        margin-bottom: 5px;
        width: 324px;
        float: left;   
    }
}

.mene-much{
    margin-left: 5px;
    width: 324px;
    height: 193px;
    float: left;
    margin-bottom: 5px;
    

    .mene-much-1{
        width: 50%;
        height: 193px;
        float: left;
        background: white;
        
        h2 {
            display: block;
            line-height: 22px;
            font-size: 14px;
            width: 139px;
            height: 40px;
            margin-bottom: 5px;
            margin-top: 15px;
            margin-left: 20px;
        }
        p {
            display: block;
            width: 139px;
            font-size: 12px;
            height: 90px;
            margin-bottom: 5px;
            margin-left: 20px;
            margin-top: 10px;
            color: #969696;
        }
        p:nth-of-type(2) {
            font-size: 12px;
            height: 24px;
            width: 139px;
            color: #d10048;
            box-sizing: border-box;
            line-height: 24px;
        }
    }
     
}
.menu-small{
    float: left;
    position: relative;
    img{
        width:162px;
        height: 193px;
    }
    
}



.no-left{
    margin-left: 0;
    span{
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent;
        border-left: 14px solid white;
        position: absolute;
        top: 43px;
        left: 0;
    }
 }
.no-right{
    margin-right: 0;
    em{
        position: absolute;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent; 
        border-right: 14px solid white;
        right: 0;
        top:43px
    }
}
#mene-best{
    float: left;
    margin-left: 5px;
    width: 324px;
    height: 193px;
    position: relative;
    z-index: 99;
    img{
        width: 100%;
        height:390px;
    }
}

.left-big{
    width: 324px;
    float: left;
    margin-left: 5px;
    img{
        width: 100%;
        height: 193px;
        float: left;
    }
}
#left-best{
    float: left;
    width: 324px;
    height: 390px;
    img{
        float: left;
        width: 100%;
        height: 100%;
    }
}
#con-big{
    float: left;
    width: 324px;
    height: 193px;
    margin-right:5px;
    img{
        width: 100%;
        height: 193px;
        margin-left: 5px;
    }
}
#right-best{
    float: right;
    width: 324px;
    height: 390px;
    img{
        float: left;
        width: 100%;
        height: 100%;
    }
}

.menu-footer{
    width: 50%;
    height: 193px;
    float: left;
}
#menu-footer-left{
        width: 195px;
        height: 193px;
        background: white;
        float:left; 
        h2{
            display: block;
            line-height: 22px;
            font-size: 14px;
            width: 154px;
            height: 40px;
            margin-bottom: 5px;
            margin-top: 15px;
            margin-left: 20px;
            color: #888888;
        }
        p {
            display: block;
            width: 144px;
            font-size: 12px;
            height: 90px;
            margin-bottom: 5px;
            margin-left: 20px;
            margin-top: 10px;
            a{
                color: #888;
            }
        }
        p:nth-of-type(2) {
            font-size: 12px;
            height: 24px;
            width: 144px;
            color: #D10048;
            box-sizing: border-box;
            line-height: 24px;
            a{
              color: #D10048;  
            }
        }
}
#menu-footer-right{
    width: 296px;
    height: 193px;
    float: left;
    position: relative;
    img{
        width: 100%;
        height: 100%;
    }
    span{
        position: absolute;
        top: 43px;
        left: 0;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent; 
        border-left: 14px solid #fff;
    }
}
.menu-footer-right{
    float: left;
    p{
        position: absolute;
        border-top: 14px solid transparent;
        border-bottom: 14px solid transparent; 
        border-right:14px solid #fff;
        right:0;
        top: 43px;
    }
}
#mene-mation{
    width: 324px;
    height: 587px;
    background: #FFFFFF;
    position: absolute;
    z-index: 99999;
    left: 470px;    
    top: 490px;
    display: none;
    a{
        display: block;
        width: 324px;
        height: 193px;
        position: relative;
        p{
            position: absolute;
            width: 24px;
            height: 24px;
            display: block;
            border-radius: 50%;
            background: #5B4E51;
            text-align: center;
            top: 9px;
            right: 10px;
            color:#AFA9AA;
        }
    }
    #mation-1{
        width: 284px;
        height: 268px;
        padding: 20px;
        h2{
            width: 284px;
            height: 28px;
            color: #888;
            font-size: 14px;
            font-weight: 900;
            line-height: 28px;
        }
        p{
            display: block;
            width: 284px;
            height: 66px;
            line-height: 22px;           
            font-size: 12px;
        }
        div{
            width: 100%;
            height: 30px;
            margin-top: 10px;
            text-align: right;  
            a:nth-child(1){
                display: block;
                width: 30px;
                height: 30px;
                background: url(../img/heder.png);
                background-position: 0 -113px;
                float: left;
                margin-left: 185px;
            }
            span{
                font-size: 12px;
                line-height: 30px;
            }
            
        }
        ul{

            width: 100%;
            height: 104px;
            margin-top: 30px;
            li{
                width: 26.2%;
                float: left;
                margin: 0 10px;
                text-align: center;
                img{
                    width: 74px;
                    height: 104px;
                }
            }
        }
    }
    
}

aside{
    width: 74px;
    height: 100%;
    background: #D10048;
    position: fixed;
    left: 0;
    top: 0;
    padding-top:10px;
    text-align: center;
    z-index: 999;
    ul{
        -webkit-margin-before: 0px;
        -webkit-margin-after:10px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;

        font-size: 12px;
        line-height: 1.5;
        color: #888;
        li{
            height: 46px;
            line-height: 46px;
            overflow: hidden;
            background:url(../img/aside.png) center bottom no-repeat;
            display: list-item;
            text-align: -webkit-match-parent;
            &:hover{
                background: #DB366F;
            }
            a{
                display: block;
                width: 74px;
                height: 44px;
                color: #fff;
                background: transparent;
                -webkit-tap-highlight-color: transparent;
            }
        }
    }
}


#box{
    width: 74px;
    height: 100%;
    background: #ABABAB;
    position: fixed;
    left: 74px;
    top: 0;
    padding-top:10px;
    text-align: center;
    z-index: 9999;
    display: none;
    ul{
        -webkit-margin-before:46px;
        -webkit-margin-after:10px;
        -webkit-margin-start: 0px;
        -webkit-margin-end: 0px;

        font-size: 12px;
        line-height: 1.5;
        color: #888;
        li{
            height: 46px;
            line-height: 46px;
            overflow: hidden;
            border-top: 1px solid #CCCCCC;
            display: list-item;
            text-align: -webkit-match-parent;
            &:hover{
                background: #DB366F;
            }
            a{
                display: block;
                width: 74px;
                height: 44px;
                color: #fff;
                background: transparent;
                -webkit-tap-highlight-color: transparent;
            }
        }
    }
}








section{
    width: 75px;
    height: 260px;
    position: fixed;
    top: 10%;
    right: 0px;
    text-align: center;
    width: auto;
    height: auto;
    z-index: 999;
    .shang{
        display: none;
    }
}
footer{
    width: 100%;
    height: 464px;
    margin-top: 60px;
    margin: 0 auto;
    .footer-top{
        width: 1152px;
        height: 120px;
        margin: 0 auto;
        margin-bottom: 10px;
        dl{
            float: left;
            margin: 0 auto;
            margin-top: 15px;
            margin-left:40px; 
            &:nth-child(1){
                margin-left: 350px;
            }
            dd{
                font-size: 12px;
                color: #888;
            }
        }
    }
}
.footer-center{
    width: 63%;
    height: 180px;
    margin: 0 auto;
    color: #888888;
    margin-bottom: 10px;
    dl{
        width: 117px;
        float: left;
        text-shadow: rgb(255, 255, 255) 0px 1px 0px;
        font-size: 12px;
        line-height: 30px;
        -webkit-margin-before: 10px;
        margin-left: 15px;
        dt{
            font-size: 18px;
            font-weight: 900;
            
        }
        dd{
            &:hover{
                color: red;
            }
            img{
                margin-top: 10px;
                width: 100%;
                height: 100%;
            }
        }
    }
}
#footer-bottom{
    width: 100%;
}
#toer{
   width: 100%;
   height: 1px;
   background: #DCE0E3;
   margin-top: 20px;
   margin-bottom: 20px; 
}
#footer-bottom-top{
    width: 100%;
    height: 70px;   
    padding-top: 20px;
    ul{
        width: 555px;
        margin: 0 auto;
        li{
            float: left;
            display: inline-block;
            border-right: 1px solid #909090;
            height: 20px;
            line-height: 20px;
            text-align: -webkit-match-parent;
            
            a{
                font-size: 14px;
                text-shadow: #fff 0 1px 0;
                margin: 0 15px;
                color: #888;
                &:hover{
                    color: red;
                }
            }
        }
    }
    p{
        width: 578px;
        margin: 0 auto;
        font-size: 14px;
        text-shadow: #fff 0 1px 0;
        display: block;
        -webkit-margin-before: 10px;
        -webkit-margin-after: 10px;
        color: #888;
        
    }
}
#footer-bottom-bt{
    width: 1263px;
    height: 41px;
    text-align: center;
    padding-bottom: 10px;
    a{
        font-size: 12px;
        color: #888888;
        img{
            vertical-align: middle;
        }
    }
}



.mask {       
    position: absolute;
    top: 0px;
    filter: alpha(opacity=60);
    background-color: #777;     
    z-index: 1002;
    left: 0px;     
    opacity:0.5;
    -moz-opacity:0.5;     
}  
























